* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: top;
}

body {
    font-family: 'Roboto', serif;
}

.header{
    display: flex;
    justify-content: center;
    background-color: #f1f1f1;
    max-width: 1000px;
    margin: 0 auto;
    color: #587FFC;
   
}

header div {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.layout {
    max-width: 1000px;
    background: #f1f1f1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

main {
    padding: 24px;
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 24px
}

main article {
    width: 200px;
    background: white;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
}

main article img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    background: gray;
}

main article .content {
    padding: 12px;
}

main article .content .button {
    text-align: center;
    background: #587FFC;
    color: white;
    padding: 8px 0;
    border-radius: 32px;
    margin-top: 12px;
    cursor: pointer;
}

.buttonDeleteAll {
    text-align: center;
    background: red;
    color: white;
    padding: 8px 0;
    border-radius: 32px;
    margin-top: 12px;
    cursor: pointer;
}

main article .content .button:hover {
    opacity: .8;
}

aside {
    padding: 24px;
    background: #f6f6f6;
    width: 400px;
}


.products-list article {
    background: white;
    border-bottom: 1px solid #ccc;
    margin-bottom: 4px;
    display: flex;
}


.products-list article img {
    width: 50px;
    height: 50px;
}

.products-list article div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 12px;
    position: relative;
}

.products-list article div h2 {
    font-size: 14px;
}

.products-list article div h3 {
    font-size: 14px;
    position: absolute;
    right: 32px;
}

.products-list article div h4 {
    font-size: 14px;
    position: absolute;
    right: 100px;
}

.products-list article div span {
    color: red;
    cursor: pointer;
}




